################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/KarmyogiWeb/bin
/KarmyogiWeb/*.config
/KarmyogiWeb/bin/*.dll
/KarmyogiWeb/bin/*.pdb
/KarmyogiWeb/bin/*.config
/KarmyogiWeb/bin/*.xml
/KarmyogiWeb/obj
/KarmyogiWeb/obj/Debug
/Karmyogi.Data/bin
/Karmyogi.Data/obj
/Karmyogi.Repo/bin
/Karmyogi.Repo/obj
/packages
