################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/KarmyogiWeb/obj/Debug
/KarmyogiWeb/bin
/KarmyogiWeb/*.config
/KarmyogiWeb/obj/Debug/KarmyogiWeb.pdb
/KarmyogiWeb/bin/*.config
/KarmyogiWeb
/KarmyogiWeb/bin/*.dll
/KarmyogiWeb/Web.config
/KarmyogiWeb/Web.config
/KarmyogiWeb/obj/Debug/KarmyogiWeb.pdb
*.dll
/KarmyogiWeb/obj
/KarmyogiWeb/bin
/KarmyogiWeb/Web.config
/KarmyogiWeb/bin/Antlr3.Runtime.dll
/KarmyogiWeb/bin/Antlr3.Runtime.pdb
/KarmyogiWeb/bin/ApplicationInsights.config
/KarmyogiWeb/bin/EntityFramework.SqlServer.dll
/KarmyogiWeb/bin/EntityFramework.SqlServer.xml
/KarmyogiWeb/bin/EntityFramework.dll
/KarmyogiWeb/bin/EntityFramework.xml
/KarmyogiWeb/bin/Karmyogi.Data.dll
/KarmyogiWeb/bin/Karmyogi.Data.dll.config
/KarmyogiWeb/bin/Karmyogi.Data.pdb
/KarmyogiWeb/bin/Karmyogi.Repo.dll
/KarmyogiWeb/bin/Karmyogi.Repo.dll.config
/KarmyogiWeb/bin/Karmyogi.Repo.pdb
/KarmyogiWeb/bin/KarmyogiWeb.dll
/KarmyogiWeb/bin/KarmyogiWeb.dll.config
/KarmyogiWeb/bin/KarmyogiWeb.pdb
/KarmyogiWeb/bin/Microsoft.AI.Agent.Intercept.dll
/KarmyogiWeb/bin/Microsoft.AI.DependencyCollector.dll
/KarmyogiWeb/bin/Microsoft.AI.DependencyCollector.xml
/KarmyogiWeb/bin/Microsoft.AI.PerfCounterCollector.dll
/KarmyogiWeb/bin/Microsoft.AI.ServerTelemetryChannel.dll
/KarmyogiWeb/bin/Microsoft.AI.ServerTelemetryChannel.xml
/KarmyogiWeb/bin/Microsoft.AI.Web.dll
/KarmyogiWeb/bin/Microsoft.AI.Web.xml
/KarmyogiWeb/bin/Microsoft.AI.WindowsServer.dll
/KarmyogiWeb/bin/Microsoft.AI.WindowsServer.xml
/KarmyogiWeb/bin/Microsoft.ApplicationInsights.dll
/KarmyogiWeb/bin/Microsoft.ApplicationInsights.xml
/KarmyogiWeb/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/KarmyogiWeb/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/KarmyogiWeb/bin/Microsoft.Practices.ServiceLocation.dll
/KarmyogiWeb/bin/Microsoft.Practices.ServiceLocation.pdb
/KarmyogiWeb/bin/Microsoft.Practices.ServiceLocation.xml
/KarmyogiWeb/bin/Microsoft.Practices.Unity.Configuration.dll
/KarmyogiWeb/bin/Microsoft.Practices.Unity.Configuration.xml
/KarmyogiWeb/bin/Microsoft.Practices.Unity.RegistrationByConvention.dll
/KarmyogiWeb/bin/Microsoft.Practices.Unity.RegistrationByConvention.xml
/KarmyogiWeb/bin/Microsoft.Practices.Unity.dll
/KarmyogiWeb/bin/Microsoft.Practices.Unity.xml
/KarmyogiWeb/bin/Microsoft.Web.Infrastructure.dll
/KarmyogiWeb/bin/Newtonsoft.Json.dll
/KarmyogiWeb/bin/Newtonsoft.Json.xml
/KarmyogiWeb/bin/System.Net.Http.Formatting.dll
/KarmyogiWeb/bin/System.Net.Http.Formatting.xml
/KarmyogiWeb/bin/System.Web.Helpers.dll
/KarmyogiWeb/bin/System.Web.Helpers.xml
/KarmyogiWeb/bin/System.Web.Http.WebHost.dll
/KarmyogiWeb/bin/System.Web.Http.WebHost.xml
/KarmyogiWeb/bin/System.Web.Http.dll
/KarmyogiWeb/bin/System.Web.Http.xml
/KarmyogiWeb/bin/System.Web.Mvc.dll
/KarmyogiWeb/bin/System.Web.Mvc.xml
/KarmyogiWeb/bin/System.Web.Optimization.dll
/KarmyogiWeb/bin/System.Web.Optimization.xml
/KarmyogiWeb/bin/System.Web.Razor.dll
/KarmyogiWeb/bin/System.Web.Razor.xml
/KarmyogiWeb/bin/System.Web.WebPages.Deployment.dll
/KarmyogiWeb/bin/System.Web.WebPages.Deployment.xml
/KarmyogiWeb/bin/System.Web.WebPages.Razor.dll
/KarmyogiWeb/bin/System.Web.WebPages.Razor.xml
/KarmyogiWeb/bin/System.Web.WebPages.dll
/KarmyogiWeb/bin/System.Web.WebPages.xml
/KarmyogiWeb/bin/Unity.Mvc5.dll
/KarmyogiWeb/bin/WebGrease.dll
/KarmyogiWeb/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
/KarmyogiWeb/bin/roslyn/Microsoft.CSharp.Core.targets
/KarmyogiWeb/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
/KarmyogiWeb/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
/KarmyogiWeb/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
/KarmyogiWeb/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
/KarmyogiWeb/bin/roslyn/Microsoft.CodeAnalysis.dll
/KarmyogiWeb/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
/KarmyogiWeb/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
/KarmyogiWeb/bin/roslyn/Microsoft.VisualBasic.Core.targets
/KarmyogiWeb/bin/roslyn/Microsoft.Win32.Primitives.dll
/KarmyogiWeb/bin/roslyn/System.AppContext.dll
/KarmyogiWeb/bin/roslyn/System.Collections.Immutable.dll
/KarmyogiWeb/bin/roslyn/System.Console.dll
/KarmyogiWeb/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
/KarmyogiWeb/bin/roslyn/System.Diagnostics.Process.dll
/KarmyogiWeb/bin/roslyn/System.Diagnostics.StackTrace.dll
/KarmyogiWeb/bin/roslyn/System.IO.Compression.dll
/KarmyogiWeb/bin/roslyn/System.IO.FileSystem.DriveInfo.dll
/KarmyogiWeb/bin/roslyn/System.IO.FileSystem.Primitives.dll
/KarmyogiWeb/bin/roslyn/System.IO.FileSystem.dll
/KarmyogiWeb/bin/roslyn/System.IO.Pipes.dll
/KarmyogiWeb/bin/roslyn/System.Reflection.Metadata.dll
/KarmyogiWeb/bin/roslyn/System.Security.AccessControl.dll
/KarmyogiWeb/bin/roslyn/System.Security.Claims.dll
/KarmyogiWeb/bin/roslyn/System.Security.Cryptography.Algorithms.dll
/KarmyogiWeb/bin/roslyn/System.Security.Cryptography.Encoding.dll
/KarmyogiWeb/bin/roslyn/System.Security.Cryptography.Primitives.dll
/KarmyogiWeb/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
/KarmyogiWeb/bin/roslyn/System.Security.Principal.Windows.dll
/KarmyogiWeb/bin/roslyn/System.Text.Encoding.CodePages.dll
/KarmyogiWeb/bin/roslyn/System.Threading.Thread.dll
/KarmyogiWeb/bin/roslyn/System.ValueTuple.dll
/KarmyogiWeb/bin/roslyn/System.Xml.ReaderWriter.dll
/KarmyogiWeb/bin/roslyn/System.Xml.XPath.XDocument.dll
/KarmyogiWeb/bin/roslyn/System.Xml.XPath.dll
/KarmyogiWeb/bin/roslyn/System.Xml.XmlDocument.dll
/KarmyogiWeb/bin/roslyn/VBCSCompiler.exe
/KarmyogiWeb/bin/roslyn/VBCSCompiler.exe.config
/KarmyogiWeb/bin/roslyn/csc.exe
/KarmyogiWeb/bin/roslyn/csc.exe.config
/KarmyogiWeb/bin/roslyn/csc.rsp
/KarmyogiWeb/bin/roslyn/csi.exe
/KarmyogiWeb/bin/roslyn/csi.exe.config
/KarmyogiWeb/bin/roslyn/csi.rsp
/KarmyogiWeb/bin/roslyn/vbc.exe
/KarmyogiWeb/bin/roslyn/vbc.exe.config
/KarmyogiWeb/bin/roslyn/vbc.rsp
/KarmyogiWeb/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/KarmyogiWeb/obj/Debug/KarmyogiWeb.csproj.CopyComplete
/KarmyogiWeb/obj/Debug/KarmyogiWeb.csproj.CoreCompileInputs.cache
/KarmyogiWeb/obj/Debug/KarmyogiWeb.csproj.FileListAbsolute.txt
/KarmyogiWeb/obj/Debug/KarmyogiWeb.csprojResolveAssemblyReference.cache
/KarmyogiWeb/obj/Debug/KarmyogiWeb.dll
/KarmyogiWeb/obj/Debug/KarmyogiWeb.pdb
/KarmyogiWeb/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/KarmyogiWeb/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/KarmyogiWeb/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Karmyogi.Data/bin
/Karmyogi.Data/obj
/Karmyogi.Repo/bin
/Karmyogi.Repo/obj
/packages
